*.py[cod]

# C extensions
*.so
.vscode/
*.egg-info/
.installed.cfg
# Django stuff:
*.log

#Ternjs
.tern-project

# Pycharm project
*.idea/
exclude-list.txt
#portfolios/migrations/*
#project/migrations/*

db.sqlite3
/media
/static

config.py
config.yaml
base2.py
templates/report/tmp/*
portfolios/templates/report/tmp/*
*.DS_Store

*.swp
.tern-port
/log
/env
jython/*
phantomjs/*
/backup
src/*
/.cache/
/.tox/
/test_report/
/.coverage
/docs/
portfolios/templates/report/html/
bash-merged-this-branch-to-staging.sh
reports/templates/reports/programs/tmp
/cache_django/
wkhtmltox/
